@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
}

html.dark {
  background-color: #2d2e32;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff;
  transition: background-color 0.2s ease;
}

body.dark {
  background-color: #2d2e32;
}
